<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <link href="css/stylehome.css" rel="stylesheet">
</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light navbar-custom sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index"><img src="/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/facts">FACTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fad">FIND</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campsMain">CAMPS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <% if (!!req.session.loggedin) { %>
                    <li class="nav-item paras">
                        <a class="nav-link" href="/home">PROFILE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/logout">LOGOUT</a>
                    </li>
                    <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>
    <!--Image Slider-->
    <div id="slides" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/image5.jpg">
                <div class="carousel-caption">
                    <h1 class="display-2">RaktDaan</h1>
                    <h3>People live when people give</h3>
                    <a href="/register"><button type="button"
                            class="btn btn-outline-light btn-lg buttonn">REGISTER</button></a>
                    <a href="/login"><button type="button" class="btn btn-primary btn-lg">LOGIN</button></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/image1.jpg">
            </div>
            <div class="carousel-item">
                <img src="/images/image2.jpg">
            </div>

        </div>
    </div>
    <!--Vision Mission-->
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col md-9 col-lg-9 col-xl-10">
                <p class="lead mission"><b>Vision</b></p>
                <p class="lead vision"><i>24x7 availability of blood so that no one should suffer waiting for blood</i>
                </p>

            </div>
            <div class="col-xs-12 col-sm-12 col md-9 col-lg-9 col-xl-12">
                <p class="lead mission" style="text-align:right;"><b>Mission</b></p>
                <p class="lead vision" style="text-align:right;"><i>Save 1 Million Potential Lives by 2022 and spread
                        joy and smiles</i></p>
            </div>
        </div>
    </div>
    <!--Features-->
    <div class="features">
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">Features</h1>
                    <span class="section-divider"></span>
                </div>
                <div class="col-12">
                    <p class="lead">"Donate your blood for a reason, let the reason be life"</p>
                </div>
            </div>
        </div>

        <!-- Three sections -->


        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <i class="fas fa-info-circle"></i>
                    <h3>Facts</h3>
                    <p class="lead">Learn about different facts and get rid of all myths related to blood donation</p>
                    <br>
                    <a href="/facts" class="btn btn-secondary">Facts</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <i class="fas fa-users "></i>
                    <h3>Camps</h3>
                    <p class="lead">Participate in various camps conducted by us to help the needy</p>
                    <br>
                    <a href="/campsMain" class="btn btn-secondary">Camps</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <i class="fas fa-phone"></i>
                    <h3>Contact</h3>
                    <p class="lead">Contact us in case of an emergency and do provide us with feedback</p>
                    <br>
                    <a href="/contact-us" class="btn btn-secondary ">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- MAP -->
    <div id="map"></div>
    <!--Review-->
    <div class="reviews">
        <br><br>
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">Reviews</h1>
                    <span class="line"></span>
                </div>

                <hr>
            </div>
        </div>
        <!--Cards-->
        <div class="container-fluid padding inline cards">
            <div class="row padding">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/user1.png" width="300" height="350">
                        <div class="card-body">
                            <h4 class="card-title" class="display-4">Akhil Varyani</h4>
                            <p class="card-text" class="lead">This is an amazing website with 24 by 7 working services
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/user6.png" width="300" height="350">
                        <div class="card-body">
                            <h4 class="card-title" class="display-4">Tulika Sinha</h4>
                            <p class="card-text" class="lead">Excellent response and very convinient for receiving blood
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/user5.png" width="200" height="350">
                        <div class="card-body">
                            <h4 class="card-title" class="display-4">Veer Gupta</h4>
                            <p class="card-text" class="lead">Received blood on time and helped in saving closed ones
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>



    <!--Footer-->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="/images/logo2.jpg">
                    <hr class="light">
                    <p>+91-9324040843</p>
                    <p>raktdan@gmail.com</p>
                    <p>A-5,Paradise,Godrej Hills</p>
                    <p>Kalyan,Thane,Maharashtra,India</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Offline Hours</h5>
                    <hr class="light">
                    <p>Monday: 8am-10pm</p>
                    <p>Saturday: 10am-4pm</p>
                    <p>Sunday: 10am-1pm</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Service Areas</h5>
                    <hr class="light">
                    <p>Mumbai,Maharashtra,400601</p>
                    <p>Jaipur,Rajasthan,302001</p>
                    <p>Gwalior,Madhya Pradesh,474001</p>
                    <p>Trivandrum,Kerala,695008</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; raktdaan.com</h5>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/map.js"></script>
</body>

</html>